html, body, header, nav, h1, a,
ul, li, strong, main, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Didact Gothic';
  color: #4d4e50;
  font-family: 'Abel';
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

ul {
  list-style: none;
}

.header-container {
  background-color: #dbdbdb;
  height: 40px;
  width: calc(100vw - 40px);
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

.header-container div {
  font-size: 22px;
  margin-top: 2px;
}

.header-right {
  display: flex;
}

.checkout, .cart-button {
  border-radius: 5px;
  margin: 0 10px;
  font-size: 20px;
  padding: 5px 10px;
}

.products-container {
  background-color: #f4ffff;
  padding-top: 60px;
}
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2%;
}

.product-index-item {
  margin: 2%;
}

.product-details {
  box-shadow: 0 0 10px #efefef;
}

.product-pic {
  height: 320px;
  width: 320px;
}

.index-details {
  display: flex;
  justify-content: space-between;
  background-color: #efefef;
  padding: 10px 15px;
  font-size: 16px;
}

.price {
  color: #000080;
}

.add-to-cart {
  justify-content: center;
  display: flex;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 18px;
  font-family: 'Abel';
  border-radius: 5px;
}

.items-container {
  padding-top: 60px;
  background-color: #f4ffff;
  display: flex;
}

.items {
  width: 65%;
}

.cart-details {
  display: flex;
}

.cart-index-details {
  width: 100%;
  margin: 5% 0;
  display: flex;
  justify-content: space-between;
  background-color:#efefef;
  padding: 10px 15px;
  font-size: 16px;
}

.cart-details-left {
  display: flex;
}

.cart-details-left li {
  margin-right: 15px;
}

.cart-pic {
  width: 100px;
  height: 115px;
}

.total-box {
  width: 30%;
  padding: 15px;
  margin: 20px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 8px #efefef;
}

.total-box div, .total-box button {
  margin: 10px 0;
}

.total {
  font-size: 30px;
}
